 @import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Stalinist+One&display=swap');

body{
position: relative;
width: 1301px;
height: 500px;

background: #C19EAF;
border-radius: 20px;
}

.nya{
position: absolute;
width: 180px;
height: 125px;
left: 600px;
top: 16px;
}

.registration{
   display:flex;
   flex-direction:column;
   left: 47px;
   top: 300px;
   width: 30vw;
   border-radius:20px;
   font-family: 'Roboto Condensed', sans-serif; ;
   background-color: #EFC3D8;
}

.AOAOA{
    height:210px;
    width:190px;
    left:17px;
    top:460px;
    border-radius:20px;
}
.felinologi{
position: absolute;
width: 761px;
height: 133px;
left: 250px;
top: 290px;

font-family: 'Marcellus';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 30px;

color: #1F1F1F;
}

.cats{
position: absolute;
width: 326px;
height: 258px;
left: 20px;
top: 510px;

font-family: 'Marcellus';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 25px;

color: #000000;
}

.cats1{
position: absolute;
width: 286px;
height: 249px;
left: 363px;
top: 600px;

font-family: 'Marcellus';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 25px;

color: #000000;
}

.cats2{
   position: absolute;
width: 248px;
height: 258px;
left: 700px;
top: 710px;

font-family: 'Marcellus';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 25px;

color: #000000; 
}

.cats3{
    position: absolute;
width: 337px;
height: 186px;
left: 990px;
top: 800px;

font-family: 'Marcellus';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 25px;

color: #000000;
}

.nya1{
position: absolute;
width: 316px;
height: 175px;
left: 17px;
top: 910px;

background: url(kiiiitty.png);
border-radius: 20px;
}

.nya2{
position: absolute;
width: 290px;
height: 167px;
left: 365px;
top: 1000px;

background: url(manchkin.png);
}

.nya3{
position: absolute;
width: 200px;
height: 200px;
left: 700px;
top: 1110px;

background: url(mai kun.png);
}

.nya4{
position: absolute;
width: 310px;
height: 185px;
left: 990px;
top: 1200px;

background: url(sphinks.jpg);
}

footer{
position: absolute;
width: 231px;
height: 31px;
left: 37px;
top: 1310px;

font-family: 'Marcellus';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 32px;

color: #000000;
}